<div class="container">

  <div class="card">
    <h2>Crear producto</h2>

    <form (ngSubmit)="submitProduct()">

      <label>Nombre del producto</label>
      <input
        type="text"
        [(ngModel)]="productName"
        name="name"
        required
      />

      <label>Imagen</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
      />

      <button type="submit">Guardar</button>

    </form>
  </div>

  <hr />

  <app-items></app-items>

</div>
